/* ///////////////////////// */
/*        共通          */
/* ///////////////////////// */

@font-face {
  font-family: 'dqfont';
  src: url("../font/DragonQuestFC.ttf");
}

@font-face {
  font-family: 'dot';
  src: url("../font/JF-Dot-MPlusH12.ttf");
}

*{
  outline: none;
  font-family: "dot";
}

body{
  background-color: #121212;
}

ul{
    list-style: none;
    padding: 0;
}

a{
  text-decoration: none;
}

.flex{
  display:flex;
  align-items: flex-start;
}

.border_white{
  border: 2px solid #fff;
  border-radius: 8px;
}

.site_title{
  color: #fff;
  text-align: center;
  margin: 10px 0;
}

.message_slide{
  background-color: #fff;
  font-size: 16px;
  width: 100%;
  margin: 0;
  text-align: center;
  line-height: 30px;
  display: none;
  position: absolute;
  top: 50px;;
  z-index: 15;
}

.flash_error{
  color: #FF7763;
}

.flash_sucsess{
  color:#3FBFFF;
}

.flash_message{
margin-top: 0;
}

.js_error_message{
  font-family: "dot";
  color: #FF7763;
  font-size: 18px;
  margin-left: 10px;
}

.error{
  border: #FF7763 solid 2px !important;
}

.container{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.form_container{
  color: #FFF;
  max-width: 800px;
  width: calc(100% - 100px);
  padding: 10px 50px 50px 50px;;
  margin: 0 auto;
  box-sizing: border-box;
}

.form_container input{
  color: #fff;
  border: 2px solid #fff;
  font-size: 20px;
  width: 360px;
  padding: 5px 10px;
  margin: 2px 0 20px;
  height: 30px;
  border-radius: 8px;
  background-color: transparent;
  display: inline-block;
}

.page_title{
  color: #fff;
  font-size: 28px;
  letter-spacing: 0.08em;
  text-align: center;
  vertical-align: middle;
  width: 280px;
  margin: 0 0 10px;;
  background-color: #121212;
  position: relative;
  top: -25px;
}

.form_inner {
  position:relative;
}

.btn{
  font-size: 20px;
  font-weight: bold;
  line-height: 5px;
  letter-spacing: 0.08em;
  width: 120px;
  height: 40px;
  margin: 0;
  border-radius: 8px;
  background-color: transparent;
  display: inline;
  text-align: center;
  color:#fff;
  border: 2px solid #FFF;
}

.btn.red{
  color: #FF7763;
  border: 2px solid #FF7763;
}

.btn.blue{
color: #3FBFFF;
border: 2px solid #3FBFFF;

}

.btn:disabled{
  color: #b8b8b8;
  border-color: #b8b8b8;
  cursor: default;
}

#js_btn:disabled{
  color: #b8b8b8;
  border-color: #b8b8b8;
  cursor: default;
}

#js_btn{
  cursor: pointer;
}

.btn:hover{
  cursor: pointer;
}


/* ///////////////////////// */
/*        ヘッダー            */
/* ///////////////////////// */

header {
  margin-bottom: 40px;
  height: 40px;
  padding: 0 0 10px;
  background-color: #cdb47b;
}

header h1 {
  float: left;
  margin: 0;
  padding-left: 15px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}

header h1 a {
  color: #000;
  text-decoration: none;
}

nav a{
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  box-sizing: border-box;
  display:block;
}

nav a:hover {
  text-decoration: underline;
}

#top-nav ul {
  margin: 0;
}

#top-nav ul li {
  float: right;
}

#top-nav li{
  width: 120px;
  line-height: 50px;
}


.toggle_menu{
  color: #000;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}

.toggle_menu:hover{
  cursor: pointer;
}

.toggle_menu i{
  color: #555;
  font-size: 18px;
}


.child{
  position: absolute;
  top :53px;
  width: 100%;
  padding: 0;
  z-index: 10;
  display: none;
}

.child li{
  font-weight: bold;
  font-size: 14px;
  line-height: 20px !important;
  text-decoration: none;
  background-color: #cdb47b;
  width: 180% !important;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  clear: both;
  display: inline-block;
}

.child li:hover{
  background-color: #b09558;
}

.child li a{
  padding: 5px 10px;
}

.child li:first-child{
  border-radius: 5px 5px 0 0;
}

.child li:last-child{
  border-radius: 0 0 5px 5px;
  border-bottom: : none;
}

.open{
  display: block !important;
}
