@font-face {
  font-family: 'dqfont';
  src: url("../DragonQuestFC.ttf");
}

body{
  background-color: #121212;
}
.message_slide{
  background-color: #fff;
  position: absolute;
  top: 50px;;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  display: none;
}

.flash_error{
  color: #FF7763;
}

.flash_sucsess{
  color:#3FBFFF;
}

.flash_message{
margin-top: 0;
}

.btn:hover{
  cursor: pointer;
}

.container{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* ///////////////////////// */
/*        ヘッダー            */
/* ///////////////////////// */

header {
  margin-bottom: 60px;
  height: 40px;
  padding: 0 0 10px;
  background-color: #cdb47b;
}

header h1 {
  float: left;
  margin: 0;
  padding-left: 15px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}

header h1 a {
  color: #000;
  text-decoration: none;
}

#top-nav {
  float: right;
}

#top-nav ul {
  list-style: none;
}

#top-nav ul li {
  float: right;
}

nav a {
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

nav a:hover {
  text-decoration: underline;
}
