@font-face {
  font-family: 'dqfont';
  src: url("../DragonQuestFC.ttf");
}

body{
  background-color: #121212;
  padding-top: 50px;
}

.container{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.mypage{
  display: flex;
}

.top_title{
  max-width: 1170px;
  font-family: "dqfont";
  color: #fff;
  font-size: 50px;
  letter-spacing: 0.08em;
  margin: 0 auto;
  vertical-align: middle;
  width: 180px;
}

.mypage_left{
  color:#fff;
  border: 2px solid #fff;
  border-radius: 8px;
  min-width: 230px;
  width: 20%;
  height: 100px;
  padding: 10px;
  margin-right: 10px;
}

.mypage_right{
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  width: 80%;
  height: auto;
  padding: 10px;
}

.post_form{
  width: 100%;
  border: 2px solid #fff;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px 0;
}

.post_form textarea{
  color: #fff;
  border: 2px solid #fff;
  font-size: 16px;
  width: 90%;
  padding: 10px;
  margin: 0 0 10px;
  border-radius: 5px;
  background-color: transparent;
  resize: none;
}

#post_btn{
  color: #3FBFFF;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.08em;
  width: 100px;
  height: 40px;
  padding: 5px;
  margin: 0;
  border-radius: 5px;
  border: 2px solid #3FBFFF;
  display: inline;
  background-color: inherit;
}

#post_btn:hover{
  cursor: pointer;
}

.posts_container{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 10px 20px;
  margin-top: 5px;
}

.post_date{
  margin: 0;
}

.post_user_name{
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.myself{
  color:#3FBFFF;
}

.other{
  color:#4FDF4B;
}

.post_date{
  color: #B8B8B8;
}

.post_content{
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  letter-spacing: 0.06em;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
}

.php_message{
  margin-top: 0;
}
