
.prof_edit_form{
  color: #FFF;
  max-width: 800px;
  width: calc(100% - 100px);
  padding: 10px 50px 50px 50px;;
  border: 2px solid #fff;
  border-radius: 8px;
  margin: 0 auto;
  box-sizing: border-box;
}

.prof_edit_form h2{
  color: #fff;
  font-size: 28px;
  letter-spacing: 0.08em;
  text-align: center;
  vertical-align: middle;
  width: 280px;
  margin: 0 0 10px;;
  background-color: #121212;
  position: relative;
  top: -25px;
}

.form_inner {
  position:relative;
}

.prof_edit_form input{
  color: #fff;
  border: 2px solid #fff;
  font-size: 16px;
  width: 360px;
  padding: 5px 10px;
  margin: 2px 0 20px;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  outline: none;
}


.error{
  border: #FF7763 solid 2px !important;
}

.js_error_message{
  font-family: "dqfont";
  color: #FF7763;
  font-size: 28px;
  margin-left: 10px;
}

#btn{
  color: #3FBFFF;
  font-size: 20px;
  font-weight: bold;
  line-height: 5px;
  letter-spacing: 0.08em;
  width: 120px;
  height: 40px;
  margin: 0;
  border: 2px solid #3FBFFF;
  display: inline;
}

#btn:disabled{
  color: #b8b8b8;
  border-color: #b8b8b8;
  cursor: default;
}

#btn{
  cursor: pointer;
}
