.setting_menu_container{
  color: #fff;
  min-width: 230px;
  width: 20%;
  padding: 10px;
  margin-right: 10px;
  position: relative;
}

.setting_menu_container a{
  color: #fff;
  font-size: 20px;
  margin-bottom: 5px;
  padding: 10px 0;
  border-radius: 8px;
  display: block;
}
.setting_menu_container a:hover{
  background-color:rgba(205,180,123,0.5);
  transition: 0.3s;
}

.setting_container{
  color: #fff;
  width: 80%;
  padding: 10px 50px 50px 50px;;
  text-align: left;
}

.setting_container input{
  color: #fff;
  border: 2px solid #fff;
  font-size: 20px;
  width: 360px;
  padding: 5px 10px;
  margin: 2px 0 20px;
  height: 30px;
  border-radius: 8px;
  background-color: transparent;
  display: inline-block;
}

.withdraw{
  width: 120px;
}

.active{
  background-color:rgba(205,180,123,0.5);
}
