/* ///////////////////////// */
/*        共通          */
/* ///////////////////////// */

.profile{
  color:#fff;
  min-width: 230px;
  width: 20%;
  padding: 10px;
  margin-right: 10px;
}

.profile_counts,.user_counts{
  display: flex;
  flex-wrap: wrap;
}

.profile_count{
  width: 33%;
  padding: 5px 0 ;
  margin-bottom: 5px;
  border-radius: 8px;
}

.profile_count:hover{
  background-color:rgba(205,180,123,0.5);
  transition: 0.3s;
}

.count_label{
  color: #fff;
  font-size: 14px;
}

.count_num{
  font-size: 18px;
  color: #3FBFFF;
  display: block;
}

.active{
  background-color:rgba(205,180,123,0.5);
}

.main_items{
  color: #fff;
  width: 80%;
  padding: 10px;
}

.item_container{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 10px 20px;
  margin-bottom: 5px;
}

.follow_btn{
  color: #fff;
  font-weight: bold;
  width: 100px;
  height: 30px;
  background-color: transparent;
}

.follow_btn:hover{
  border-color:#3FBFFF;
  color:#3FBFFF;
}

.following{
  color:#fff !important;
  border-color: #3FBFFF;
  background-color:#3FBFFF;
}

.unfollow{
  color:#fff !important;
  border-color: #FF7763 !important;
  background-color: #FF7763;
}

.user_name{
  margin: 0;
  color:#fff;
}

/* ///////////////////////// */
/*     user_page.php         */
/* ///////////////////////// */



.post_form{
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-bottom: 5px;
}

.post_form textarea{
  color: #fff;
  font-size: 16px;
  width: 90%;
  padding: 10px;
  margin: 0 0 10px;
  background-color: transparent;
  resize: none;
}

.text_area{
  height: 18px;
}

.show_text_area{
  height: 80px;
}

#post_btn{
  color: #3FBFFF;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.08em;
  width: 100px;
  height: 40px;
  padding: 5px;
  margin: 0;
  border-radius: 8px;
  border: 2px solid #3FBFFF;
  background-color: inherit;
  display: none;
}

#post_btn:hover{
  cursor: pointer;
}

#post_btn:disabled{
  color: #b8b8b8;
  border-color: #b8b8b8;
  cursor: default;
}

.post_date{
  margin: 0;
}

.post_user_name{
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-align: left;
  text-decoration: none;
  display:block;
}

.myself{
  color:#3FBFFF;
}

.other{
  color:#4FDF4B;
}

.post_date{
  color: #B8B8B8;
}

.post_content{
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  letter-spacing: 0.06em;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
}

button{
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0 5px;
}

button i{
  color: #fff;
}

button i:hover{
  cursor: pointer;
}

button > .far.fa-star:hover{
  color: #CDB47B;
}

.fas.fa-star{
  color: #CDB47B;
}
.fa-trash-alt:hover{
  color: #FF7763;
}

.post_count{
  color: #fff;
  font-size: 12px;
}
.favorite_btn{
  margin: 0;
}

.favorite_btn:active {
  animation: scale .2s ease-in-out;
}

@keyframes scale {
  20% { transform: scale(1.6); }
}
/* ///////////////////////// */
/* follow.php & follower.php */
/* ///////////////////////// */

.flex_wrap{
  flex-wrap: wrap;
}

.user_container{
  width: 49.7%;
  height: 150px;
}

.user_container > .user_name{
  width: 70%;
  font-size: 20px;
  text-align: left;
}

.user_count > .count_label{
  font-size: 16px;
}

.user_count > .count_num{
  margin: 0 5px 0 2px;
  cursor: default;
}
